body {
	background-color: lightpink;
}
h1 {
	font-family: 'Cormorant Garamond', serif;
	color: hotpink;
	font-size: 150px;
	margin-left: 50%;
}
div {
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
	color: darkred;

}