body{
	background-color: navy;
}
p{
	color: white;
	font-size: 150px;
}


.grow {
  animation: growth 5s;
  animation-fill-mode: backwards;
  font-size: 150px;
  animation-iteration-count: 20;
}

@keyframes growth {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 400px;
  }
}
a {
  font-family: 'Cormorant Garamond', serif;
  color: orange;
  size: 30px;
  text-decoration: none;
  border: 1px solid;
  padding: 10px;
  margin-bottom: 500px;
  position: fixed;
  margin-left: 50%;
}

a:hover {
  background-color: black;
}