html {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

#image {
    width: 400px;
    display: block;
}


/*COMPLETE THE CSS BELOW*/


/*Hint: only add one property to .container*/

.container {

display: inline-block;
    
}

.green {
    background-color: darkseagreen;
    height: 20px;
    width: 100px;
}

.blue {
    background-color: navy;
    height: 20px;
    width: 100px;
}

.pink {
    background-color: coral;
    height: 20px;
    width: 100px;
}

.orange {
    background-color: rgb(226, 102, 1);
    height: 20px;
    width: 100px;
}

.yellow {
    background-color: darkgoldenrod;
    height: 20px;
    width: 100px;
}

.red {
    background-color: darkred;
    height: 20px;
    width: 100px;
}

.light{
    background-color: rgb(224, 153, 71);
    height: 20px;
    width: 100px;
}

.dark {
    background-color: rgb(5, 64, 75);
    height: 20px;
    width: 100px;
}