html{
    box-sizing: border-box;

}


body {
    background-color: lightgray;
    margin:0px;
    padding:0px;
}

#img{
 width:200px;
 display: none;   
}

div {
    width: 200px;
}

/*This is the blue shape*/

#blue{
    background-color:darkcyan;
     height:250px;
     width:5000px;
 }

#yellow{
    background-color: #c9c23c;
    height:150px;
    width:5000px;
}

#black{
    background-color: black;
    height:160px; 
    width: 5000px;  
}

#gold{
    background-color: goldenrod;
    height:150px; 
    width: 5000px;    
}
#green{
    background-color: darkgreen;
    height:270px;
    width:5000px;
}







/*COMPLETE CSS BELOW*/









